@page "/db_Output"
@rendermode InteractiveServer
@implements IDisposable

<h3>DB_Output</h3>

<input @bind="Search_ID" placeholder="Enter ID" />
<input @bind="Search_Username" placeholder="Enter Username to search" />
<button @onclick="LoadUsers">Search User</button>

<ul>
    @if (Users.Count == 0)
    {
        <li>No users found.</li>
    }
    else
    {
        @foreach (var user in Users)
        {
            <li>@user</li>
        }
    }
</ul>

@code {
    // connection string
    private ConnectDB.Connection _website_Connection;

    // Search values
    // for listing all the values of the db
    private int? Search_ID { get; set; }
    private string? Search_Username { get; set; }

    private List<string> Users { get; set; } = new List<string>();

    // when the site is opened it does that
    protected override async Task OnInitializedAsync()
    {
        _website_Connection = new ConnectDB.Connection();
        LoadUsers();
    }

    // this function loads the users with the function from Connection.cs
    private void LoadUsers()
    {
        Users = _website_Connection.Read_Values(Search_ID, Search_Username);
    }

    // this function will be used when we close the site to close the connection
    public void Dispose()
    {
        _website_Connection?.Close_Connection();
    }
}