@page "/hashing"
@rendermode InteractiveServer
@inject ConnectDB.Connection _connection;

<h3>Hashing Test</h3>

<!--html for Register of a User-->
<h2>Register</h2>
<p>Enter your text to hash:</p>
<input @bind="Username" placeholder="Enter Username" />
<input @bind="Password" placeholder="Enter Password" />
<button @onclick="Register">Register</button>

<p>@Result_Register</p>

<br />
<br />

<!--Login things-->

<h2>Login</h2>
<p>Enter your text to hash:</p>
<input @bind="Login_Username" placeholder="Enter Username" />
<input @bind="Login_Password" placeholder="Enter Password" />
<button @onclick="Login">Login</button>

<p>@Result_Login</p>

<br />
<br />

<!--html for Searching of a User-->
<h2>DB Output</h2>
<p>Enter the search Parameter</p>
<input @bind="Search_ID" placeholder="Enter ID" />
<input @bind="Search_Username" placeholder="Enter Username to search" />
<button @onclick="LoadUsers">Search User</button>

<ul>
    @if (Users.Count == 0)
    {
        <li>No users found.</li>
    }
    else
    {
        @foreach (var user in Users)
        {
            <li>@user</li>
        }
    }
</ul>

@code {
    // connection strings
    private ConnectDB.Connection _website_Connection;
    private Controller.Output_Controller _output_Control;

    // Register values
    private string Username { get; set; }
    private string Password { get; set; }
    private string Result_Register { get; set; }

    // Login Values
    private string Login_Username { get; set; }
    private string Login_Password { get; set; }
    private string Result_Login { get; set; }

    // Search values
    // for listing all the values of the db
    private int? Search_ID { get; set; }
    private string? Search_Username { get; set; }

    private List<string> Users { get; set; } = new List<string>();

    // when the site is opened it does that
    protected override async Task OnInitializedAsync()
    {
        _website_Connection = _connection;
        _output_Control = new Controller.Output_Controller();
        LoadUsers();
    }

    // this function saves the data
    private void Register()
    {
        bool result = _website_Connection.Save_User_To_DB(Username, Password);

        Result_Register = _output_Control.Register_Output(result);

        LoadUsers();
    }

    private void Login()
    {
        bool result = _website_Connection.Try_Login(Login_Username, Login_Password);

        Result_Login = _output_Control.Login_Output(result);
    }

    // this function loads the users with the function from Connection.cs
    private void LoadUsers()
    {
        Users = _website_Connection.Read_Values(Search_ID, Search_Username);
    }
}