@page "/login_Page"
@rendermode InteractiveServer
@implements IDisposable

<h3>Login</h3>

<!--Login Site -->
<h2>Login</h2>
<p>Enter your Login Values:</p>
<input @bind="Login_Name" placeholder="Enter your Username" />
<input @bind="Login_Password" placeholder="Enter your Password" />
<button @onclick="Login">Login</button>

<p>@Result_Login</p>

@code {
    [Inject]
    // connection string
    private ConnectDB.Connection _website_Connection { get; set; }
    private Controller.Output_Controller _output_Controller;

    // Login Values
    private string Login_Name { get; set; }
    private string Login_Password { get; set; }
    private string Result_Login { get; set; }

    // when the site is opened it does that
    protected override async Task OnInitializedAsync()
    {
        _output_Controller = new Controller.Output_Controller();
    }

    private void Login()
    {
        bool result = _website_Connection.Try_Login(Login_Name, Login_Password);

        _output_Controller.Login_Output(result);
    }

    // this function will be used when we close the site to close the connection
    public void Dispose()
    {
        _website_Connection?.Close_Connection();
    }
}