@page "/user_Register"
@rendermode InteractiveServer
@using BlazorApp1.Utilities
@inject ConnectDB.Connection _connection
@inject Cookie_Storage_Accessor Cookie_Storage_Accessor

<h3>Register</h3>

<p>Enter your text to hash:</p>
<input @bind="Username" placeholder="Enter Username" />
<input @bind="Password" placeholder="Enter Password" />
<button @onclick="Register">Register</button>

<p>@Result_Register</p>

@code {
    // connection string
    private ConnectDB.Connection _website_Connection;
    private Controller.Output_Controller _output_Control;

    // DB values
    private string Username { get; set; }
    private string Password { get; set; }
    private string Result_Register { get; set; }

    // when the site is opened it does that
    protected override async Task OnInitializedAsync()
    {
        _website_Connection = _connection;
        _output_Control = new Controller.Output_Controller();
    }

    // this function saves the data
    public async Task Register()
    {
        bool result = _website_Connection.Save_User_To_DB(Username, Password);

        Result_Register = _output_Control.Register_Output(result);

        await Cookie_Storage_Accessor.Set_Value_Async(Username, result);
    }
}